# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
tailwind.config.ts
data.tsx

# testing images
/public/avatar-1.png
/public/avatar-works.png
/public/circles.png
/public/home-4.png
/public/image-1.jpg
/public/image-2.jpg
/public/image-3.jpg
/public/image-4.jpg
/public/rounded-text.png
/public/services.png
/public/work-1.jpeg
/public/work-2.jpeg
/public/work-3.jpeg
/public/work-4.jpeg
/public/work-5.jpeg

# not used yet
/utils/motionTransitions.tsx
